/* general styles */

:root {
  box-sizing: border-box;
  --font: "Poppins", sans-serif;
  --darkColor: #333333;
  --shadow: 0px 10px 20px rgba(68, 85, 113, 0.0418648);
  --mainWhite: #fff;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.heroine {
  width: 100%;
  height: 700px;
  background: linear-gradient(177.32deg, #fd749b -12.41%, #281ac8 88.56%);
  display: flex;
  position: relative;
  z-index: -1;
}

.wrap__hero {
  width: 100%;
  justify-content: space-evenly;
  margin: 98px auto;
  display: flex;
}

.path {
  position: absolute;
  bottom: -10vh;
  width: 100%;
  z-index: -1;
}

.hero-left p {
  color: var(--mainWhite);
}

.hero-left > p:nth-child(1) {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
}

.hero-left > p:nth-child(2) {
  font-weight: bold;
  font-size: 40px;
  line-height: 60px;
}

.hero-left > p:nth-child(3) {
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 27px;
  width: 55%;
}

.hero-right {
  width: 549px;
  height: 405px;
  background-image: url({img});
}
/* END OF HERO SECTION */
/* CEO QUOTE SECTION */

.ceo-quote {
  text-align: center;
  position: relative;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
}

.ceo-quote p q {
  color: rgb(99%, 45%, 61%);
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
}
.ceo-quote p q .last-line {
  color: #281ac8;
}

.ceo-quote p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 25px;
  color: var(--darkColor);
  margin-top: 0.7rem;
  padding: 15px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .heroine {
    width: 100vw;
    padding: 0;
    margin: 0;
    opacity: 5;
  }
  .hero-right {
    width: 100%;
  }

  .hero-right img {
    width: 96%;
    display: block;
    margin-top: 54px;
    height: 100%;
  }

  .hero-left {
    justify-content: center;
  }
  .wrap__hero {
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 80%;
    align-items: center;
    justify-content: center;
  }

  .hero-left > p:first-child {
    display: none;
  }

  .hero-left > p:nth-child(3) {
    font-size: 1.3rem;
    line-height: 2.5rem;
    margin-bottom: 27px;
    width: 100%;
    margin: auto;
  }
  .hero-left > p:nth-child(2) {
    font-size: 1.6rem;
    line-height: 3rem;
    font-weight: bold;
    margin-top: -4.5rem;
  }
  .hero {
    justify-content: space-around;
    height: 527px;
  }
  .path {
    bottom: -5vh;
  }
  .ceo-quote {
    text-align: center;
    position: relative;
    top: -40px;
    left: 50%;
    margin-top: 18%;
    transform: translateX(-50%);
  }
}

/* END OF CEO QUOTE SECTION */
/* ABOUT COINBASE COLUMN*/

.row {
  display: flex;
  justify-content: center;
}

.card_1 {
  padding: 4em;
  margin-right: 1em;
  border-radius: 1em;
  border: 0.1em solid #fd749b;
  transition: 0.3s;
  justify-content: center;
  /* width: 1048px; */
  width: 80%;
  margin: auto;
}

.card_1:hover {
  transform: scale(1.05);
}

.about_coinbase_image {
  align-self: center;
}

.about_coinbase_image img {
  display: block;
  margin: auto;
}

.about_coinbase_content {
  justify-content: center;
  padding: 1em;
}

.about_coinbase_msg {
  text-align: center;
  line-height: 3rem;
  width: 60%;
  margin: auto;
}

.about_coinbase_heading {
  margin-top: 1em;
  text-align: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  color: #fd749b;
}

.about_coinbase_heading .img_heading {
  margin-top: 0;
}

.about_coinbase_icons {
  margin-top: 1.5em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}

.about_coinbase_icons .icon {
  padding-right: 1.5em;
}

@media screen and (max-width: 748px) {
  .about_coinbase_container {
    width: 100vw;
    padding: 0 auto;
    margin: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-top: 0.1em solid #fd749b;
    border-bottom: 0.1em solid #281ac8;
  }
  .about_coinbase_content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1.5rem;
  }
  .about_coinbase_heading {
    font-size: 1.5rem;
  }
  .about_coinbase_msg {
    text-align: center;
    line-height: 2rem;
    width: 100%;
    margin: auto;
    font-size: 1rem;
  }
  .about_coinbase_image img {
    width: 100vw;
  }

  .row {
    width: 100%;
    padding: 0;
    margin-left: 0;
    display: flex;
    text-align: center;
    align-items: center;
  }
  .card_1 {
    padding: 0;
    border: none;
    justify-content: center;
  }
}
/* END OF ABOUT COINBASE COLUMN*/
/* OUR HISTORY SECTION */

.our-history {
  text-align: center;
  display: flex;
  padding: 5rem;
  flex-direction: column;
  position: relative;
  max-width: 75%;
  margin: auto;
}

.our-history h3 {
  font-style: normal;
  color: #fd749b;
  font-weight: bold;
  font-size: 2rem;
  line-height: 64px;
  margin-bottom: 0;
}

.our-history div {
  width: 26.125rem;
  height: 13.1875rem;
}

.our-history > div:nth-child(3) {
  justify-content: flex-start;
  margin-top: 3.5rem;
  font-weight: 600;
  font-size: 14px;
  line-height: 30px;
  text-align: right;
}

.our-history > div:nth-child(4) {
  justify-content: flex-end;
  align-self: flex-end;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 30px;
  text-align: left;
}

.our-history > div:nth-child(5) {
  justify-content: flex-end;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 30px;
  text-align: right;
}

.our-history .tree {
  position: absolute;
  align-self: center;
  margin-top: 8rem;
  height: 676px;
}
.continued {
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 50px;
  margin-bottom: 15px;
}

@media screen and (max-width: 748px) {
  .our-history {
    width: 88vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    align-items: center;
    text-align: center;
    padding: 0;
  }

  .our-history h3 {
    margin-top: 52px;
    font-size: 1.1rem;
    line-height: 5px;
  }
  .our-history .history-date {
    color: rgb(99%, 45%, 61%);
    text-align: center;
    margin-top: -50px;
  }

   .tree {
    display: none;
  }

  .our-history div {
    width: 100%;
    display: block;
    padding-top: 5%;
    text-align: center;
    align-content: center;
  }
  .our-history img {
    visibility: hidden;
    display: none;
  }
}
/* END OF OUR HISTORY COLUMN */
/* team section */

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 0 91px 0;
}

.section__heading,
.section__paragraph {
  font-family: var(--font);
  font-style: normal;
}

.section__heading {
  font-weight: bold;
  font-size: 28px;
  line-height: 65px;
  color: #fd749b;
  text-align: center;

}

.section__heading::after {
  content: "";
  display: block;
  width: 50px;
  height: 8px;
  border-radius: 5px;
  background-color: #fd749b;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 21px;
}

.section__paragraph {
  font-weight: normal;
  font-size: 1rem;
  line-height: 3rem;
  text-align: center;
  margin-bottom: 61px;
}

.section2 {
  display: flex;
  flex-direction: column;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.newsletter__rectangles {
  position: relative;
  width: 1500px;
  height: 299px;
  display: flex;
  align-items: center;
}

.newsletter__rectangles-element {
  position: absolute;
  background-color: #c4c4c4;
  border-radius: 15px;
}

.newsletter__rectangles-element:nth-child(1),
.newsletter__rectangles-element:nth-child(5) {
  width: 299px;
  height: 185px;
}

.newsletter__rectangles-element:nth-child(2),
.newsletter__rectangles-element:nth-child(4) {
  width: 299px;
  height: 233px;
}

.newsletter__rectangles-element:nth-child(3) {
  height: 299px;
  width: 285px;
}

.first {
  left: 163px;
}

.fifth {
  left: 1028px;
  z-index: -1;
}

.second {
  left: 347px;
}

.third {
  left: 601px;
  background: linear-gradient(178.26deg, #f3b4c6 -13.56%, #666196 158.3%);
  z-index: 2;
  padding: 40px;
  display: flex;
  align-items: flex-end;
  color: white;
}

.fourth {
  left: 855px;
  z-index: 1;
}

.second,
.fourth,
.third {
  box-shadow: 0px 50px 100px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 748px) {
  .section {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    border-top: 0.1em solid #fd749b;
    border-bottom: 0.1em solid #281ac8;
    /* margin:  0; */
  }
  .section h3,
  p {
    padding-top: 5%;
    text-align: center;
  }
  .newsletter__rectangles {
    display: none;
  }
}
/* end of team section-------------------------------------------------- */
/* subscription section */

.section__form {
  display: flex;
}

input.section-input {
  width: 100%;
  border-radius: 100px;
  padding: 17px;
  border: 2px solid salmon;
}
.section-button {
  display: block;
  padding: 10px;
  border-radius: 5px;
  width: 30%;
  background: linear-gradient(179.37deg, #fd749b -13.56%, #281ac8 158.3%);
  color: white;
}

.section-button,
.section-input {
  border: none;
  font: var(--font);
}

.section-input:focus {
  outline: none;
}

@media screen and (max-width: 746px) {
  .section2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -61px;
  }
  .section-input {
    width: 170px;
  }
  .section__form {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .section-button {
    margin-top: 15px;
  }
}
