.footer {
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.1);
  margin-top: 10rem;
  background: #000;
}

.footer .msg p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #eee;
}

.footer .socials {
  display: flex;
  justify-content: flex-start !important;
  align-items: flex-start !important;
}
.footer .boxes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.footer .box {
  background-color: #a2a2a2;
  width: 50px;
  height: 50px;
  margin: 5px;
  line-height: 50px;
  text-align: center;
}

@media (max-width: 768px) {
  .footer .box {
    width: 27px;
    height: 40px;
    line-height: 40px;
  }

  .footer .socials {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
  }
}

@media (max-width: 460px) {
  .footer .boxes {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .box {
    width: 20%;
    height: 60px;
    line-height: 60px;
    text-align: center;
  }
}
